$alien-accent: #91D631;
$alien-dark: #002D00;
$cowboy-accent: #6F584B;
$cowboy-dark: #423127;
$neutral: #BABABA;
$primary-background: #000000;
$cowboy-name: #f54747;
$pink-border: #BA38C4;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background;
  font-family: 'Press Start 2P', cursive;
}

.body--startpage {

  &:after {
    animation: grain 15s ease-in-out infinite;
    background-image: url('/images/grainy-filter.jpg');
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.4;
    position: fixed;
    top: -100%;
    width: 300%;
  }

  align-items: center;
  background-image: url('/images/start-page.gif');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 107px 0;

  h1 {
    font-size: 60px;
    text-align: center;
    z-index: 1;
    background: -webkit-linear-gradient(#d85151, rgb(87, 210, 54));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span {
    font-size: 40px;
  }

  p {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }
}

.startpage__header {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: flex-end;
  padding-bottom: 90px;
  width: 100%;
}

.startpage--players--container {
  display: flex;
  justify-content: space-between;
  width: 75%;

  div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.startpage--character--icon {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: floating;
  animation-timing-function: ease-in-out;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 200px;
}

.startpage__input--player {
  background-color: #00000000;
  border-radius: 10px;
  border: 5px solid #BA38C4;
  box-shadow: 0px 0px 20px black;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 30px;
  height: 60px;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 4px;
  text-align: center;
  width: 285px;
  z-index: 1;
  box-shadow: 0 0 2px #f877ff;
  transition: 0.25s;
}

#alien-name-input {
  color: $alien-accent;

  &:focus {
    box-shadow: 0 0 20px #0bff3c;
    transition: 0.25s;
    border-color: white;
    outline: none;
  }

  &:active {
    border-color: white;
    color: white;
    box-shadow: 0 0 50px #75dfff;
    transition: 0.25s;
  }
}

#cowboy-name-input {
  color: $cowboy-name;

  &:focus {
    box-shadow: 0 0 20px #ff2a26;
    transition: 0.25s;
    border-color: white;
    outline: none;
  }

  &:active {
    border-color: white;
    color: white;
    box-shadow: 0 0 50px #75dfff;
    transition: 0.25s;
  }
}

.startpage__footer--button {
  background-color: #00000000;
  border-radius: 10px;
  border: 5px solid #BA38C4;
  color: $alien-accent;
  font-family: 'Press Start 2P';
  font-size: 35px;
  height: 125px;
  margin-top: 50px;
  width: 240px;
  box-shadow: 0 0 5px #f877ff;
  transition: .25s;

  &:focus {
    outline: none;
  }

  &:active {
    border-color: white;
    box-shadow: 0 0 40px #75dfff;
    transition: 0.25s;
  }
}

footer button span {
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  animation: blink-animation 1s steps(5, start) infinite;
  color: white;
  line-height: 1.2;
  width: 500px;
  z-index: 1;
}

footer {
  z-index: 1;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

main {
  background-image: url(../images/grainy-filter-2.png);
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;

  p {
    font-size: 40px;
  }

  header {
    height: 80px;
    margin-top: -25px;
  }
}

header,
nav,
.section--scoreboard,
.section--players,
// .section__div--answer-board,
.div__section--answer-row,
.section__div--turn {
  display: flex;
  position: relative;
  z-index: 5;
}

.div__section--answer-row {
  width: 700px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

nav {
  justify-content: space-between;
  padding: 15px 25px 0 25px;

  p {
    border: 4px solid #6d000091;
    color: rgba(255, 255, 255, 0.479);
    height: 60px;
    width: 60px;
    padding-top: 8px;
    padding-left: 8px;
    border-radius: 6px;
    transition: .25s;

    &:active {
      transition: .25s;
      box-shadow: 0 0 30px #75dfff;
      border-color: white;
    }
  }

  h5 {
    border: 4px solid white;
    height: 60px;
    width: 130px;
    padding-top: 8px;
    border-radius: 6px;
  }
}

h5 {
  font-size: 40px;
}

nav p {
  z-index: 1;
}

header {
  padding: 2% 8%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

h4 {
  font-size: 40px;
}

.section--scoreboard {
  justify-content: space-evenly;
  align-items: center;
  min-height: 175px;
}

.section__div--answer-board {
  max-width: 50%;
  border: 8px dashed white;
  outline: none;
  box-shadow: 0 0 30px #75dfff;
  border-radius: 10px;
}

.div__section--middle-row {
  border-top: 8px dashed white;
  border-bottom: 8px dashed white;
  height: 90px;
}

.section__div--answer {
  width: 400px;

  h5 {
    text-align: left;
  }
}

.section--players {
  justify-content: space-evenly;
  min-height: 180px;
}

.section__div--turn {
  flex-direction: column;
  font-size: 25px;
  padding-top: 30px;
  justify-content: space-around;
  margin-top: 14px;
  width: 100%;
  align-items: center;
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 30px;
  width: 300px;
  text-align: center;
}

#guess-input {
  width: 550px;
  height: 80px;
  border: 6px solid $pink-border;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #00000000;
  font-size: 40px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  box-shadow: 0 0 5px #f877ff;
  transition: 1s;

  &:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 40px #75dfff;
    transition: 0.25s;
  }

  &:active {
    border-color: white;
    box-shadow: 0 0 40px #75dfff;
    transition: 0.25s;
  }
}

#guess-button {
  width: 280px;
  padding-top: 8px;
  padding-left: 5px;
  height: 80px;
  border: 6px solid $pink-border;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #00000000;
  font-size: 40px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  box-shadow: 0 0 5px #f877ff;
  transition: 1.5s;

  &:focus {
    outline: none;
  }

  &:active {
    border-color: white;
    box-shadow: 0 0 40px #75dfff;
    transition: 0.25s;
  }
}

@keyframes grain {
  0% {
    transform: translate(5%, -18%)
  }

  33% {
    transform: translate(3.5%, -19%)
  }

  66% {
    transform: translate(3.5%, -22%)
  }

  100% {
    transform: translate(5%, -18%)
  }
}

.bring-front {
  z-index: 1;
}

#cowboy-name {
  color: $cowboy-name;
}

#alien-name {
  color: $alien-accent;
}