@import 'variables';
@import 'animations';
@import 'start-page';
@import 'round-page';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background;
  font-family: 'Press Start 2P', cursive;
}

.bring-front {
  z-index: 1;
}

h1 {
  text-align: center;
  z-index: 1;
  background: -webkit-linear-gradient(#d85151, rgb(87, 210, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 30px;
  width: 300px;
  text-align: center;
}

h4 {
  font-size: 40px;
  color: #ffff84;
}

h5 {
  font-size: 25px;
}